.topnav a {
    float: left;
    color: #6d4747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    border-radius: 25px;

    background-color: rgb(39, 6, 6);
    color: rgb(221, 135, 135);
  }
  
  .topnav a.active {
    border-radius: 25px;

    background-color: #000000;
    color: white;
  }